{% extends 'pollsnew/base.html' %}

{% block title %}Add question {% endblock %}
{% block body_block %}  

{% if error_message %}
<b>{{error_message }}</b>
{% endif %}

<h1> Add a New Question to the Category {{category.category_name}} </h1>
<form action="" method='post' > {# empty action means submit to same url #}
{% csrf_token %}
<input type='text' name='question_text' placeholder='Enter your Question Name' /></br>
<input type='submit' value='Add Question' />
</form>
<h5><a href="{% url 'pollsnew:index' %}">Home Polls New </a></h5>


{% endblock %}